body {
	background: #CC6600;
}

section {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  background: #ff8000;
}

#log {
  flex: 2;
  background: #ECECEC;
  overflow: auto;
}

footer {
  background: #ff8000;
  min-height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
